* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
  }

  section{
    padding: 75px 0px;
  }

  main{
    background-color: #b92e34;
    background-image: linear-gradient(326deg, #3d0c02 10%, #b92e34 100%);
  }

  header{
    padding: 20px 0px;
  }

  .hero-text{
    color: #fff;
  }

  #main-footer{
    padding: 40px 0px;
  }

  #main-footer h4{
    color: #fff;
  }

  #main-footer p{
    color: #fff;
    font-size: 14px;
  }

  #main-footer a{
    text-decoration: underline;
    color: #fff;
  }

  #main-footer .footer-text{
    animation-delay: 1.5s;
  }

 